footer{
    padding: 10px;
    width: 100%;
    height: auto;
    background-color:#020218;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.foot{
    h4{
        color: rgb(255, 255, 255);   
    }
    ul{
        list-style-type: none;
    };
}
.pie{
    color: rgba(255, 255, 255, 0.616);
    text-decoration: none;

}

#icono{
    display: grid;
    grid-template-columns: 8% auto;
    img{
        width: 30px;
        height: 30px;
        padding: 5px;
        background-color: antiquewhite;
    }
}
#log{
    height: 75px;
}