
#oferta{
    width: 80%;
    height: auto;
    margin-right: 10%;
    margin-left: 10%;
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .tipoimg{
        padding: 5px;
        background-color: beige;
        img{
            width: 100%;
            height: auto;
        }
    }   
}
#tituOferta{
    display: grid;
    grid-template-columns: 1fr;
    background-color: red;
    margin: 10px;
    animation-name: leter;
    position: relative;
    animation-duration: 3s;
    div{
        h2{
            color: white;
            text-align: center;
        }
    }
}

#banner{
    width: 50%;
    height: auto;
    position: absolute;
    margin-left: 25%;
    img{
        padding-top:3% ;
        width: 100%;
        height: auto;
    }

}
