*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.fondo {
    background-color: rgb(4, 4, 59);
}
.bg-propio{
    background-color: black;
}
@import 'animation';
@import'formulario';
@import 'footer';
@import 'nosotros';
@import 'variedades';
@import 'ofertas';
@import 'media';
@import 'note';
